:root {
  /* Primary */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  /* Neutral */
  --Dark-gray: hsl(0, 0%, 59%);
  --White: hsl(0, 0%, 100%);

  /* Font */
  --font: "Kumbh Sans", sans-serif;
}

/** Reset **/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font);
}

body {
  background: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 45vh, left 54vw top 45vh;
  background-color: var(--Dark-cyan);
  color: var(--Very-dark-desaturated-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 1.2rem;
}

p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

span {
  color: var(--Dark-grayish-blue);
}

/** Background **/
.bg-image {
  position: absolute;
  display: none;
}

.bg-top {
  top: -400px;
  left: -100px;
}

.bg-bottom {
  bottom: -450px;
  right: -150px;
}

/** Profile Card **/
.card {
  width: 350px;
  background-color: var(--White);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.card-img {
  background-image: url(./images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 150px;
  position: relative;
}

.card-img img {
  position: absolute;
  top: 97px;
  left: 122px;
  border-radius: 50%;
  border: 5px solid var(--White);
  background-color: #fff;
}

.card-person {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  gap: 0.7rem;
}

.card-person span {
  font-size: 1.2rem;
}

.card-stats {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 0 1.5rem;
}

.card-stats span {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
